<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <button class="btn btn-outline-primary" routerLink="/">
              <i class="bi bi-house"></i> Home
            </button>
          </div>
        <div>
        <h2>Stock List</h2>
        </div>
        <button class="btn btn-success" (click)="addStock()">Add New Stock</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Stock ID</th>
                <th>Stock Count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stock of paginatedStocks">
                <td>{{ stock.id }}</td>
                <td>{{ stock.stockCount }}</td>
                <td>
                    <button class="btn btn-primary btn-sm me-2" (click)="viewStockDetails(stock.id)">View Details</button>
                    <!-- <button class="btn btn-warning btn-sm me-2" (click)="editStock(stock.id)">Edit</button> -->
                    <button class="btn btn-danger btn-sm" (click)="deleteStock(stock.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination m-4 d-flex justify-content-end">
        <button
            class="btn btn-outline-primary me-2"
            (click)="prevPage()"
            [disabled]="currentPage === 1"
        >
            Previous
        </button>
        <span class="m-2">{{ currentPage }} / {{ totalPages() }}</span>
        <button
            class="btn btn-outline-primary"
            (click)="nextPage()"
            [disabled]="currentPage === totalPages()"
        >
            Next
        </button>
    </div>
</div>
