<div class="container mt-5">
    <h2>Create Product Offer</h2>
  
    <form #productOfferForm="ngForm" (ngSubmit)="createProductOffer(productOfferForm)">
      <div class="form-group mb-3">
        <label for="productCode">Product Code:</label>
        <select
          class="form-select"
          id="productCode"
          name="productCode"
          [(ngModel)]="productOffer.productCode"
          required
        >
          <option *ngFor="let code of productCodes" [value]="code">
            {{ code }}
          </option>
        </select>
      </div>
  
      <div class="form-group mb-3">
        <label for="offerCode">Offer Code:</label>
        <select
          class="form-select"
          id="offerCode"
          name="offerCode"
          [(ngModel)]="productOffer.offerCode"
          required
        >
          <option *ngFor="let code of offerCodes" [value]="code">
            {{ code }}
          </option>
        </select>
      </div>
  
      <div class="form-group mb-3">
        <label for="offerStartDate">Start Date:</label>
        <input
          type="date"
          class="form-control"
          id="offerStartDate"
          name="offerStartDate"
          [(ngModel)]="productOffer.offerStartDate"
          required
        />
      </div>
  
      <div class="form-group mb-3">
        <label for="offerEndDate">End Date:</label>
        <input
          type="date"
          class="form-control"
          id="offerEndDate"
          name="offerEndDate"
          [(ngModel)]="productOffer.offerEndDate"
          required
        />
      </div>
  
      <button type="submit" class="btn btn-primary">Create Product Offer</button>
    </form>
  </div>
  